@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin grid {
  display: grid;
}

@mixin mediaQuery($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: $breakpoint-tablet) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (min-width: $breakpoint-tablet) and (max-width: calc($breakpoint-desktop - 1px)) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media screen and (min-width: $breakpoint-desktop) {
      @content;
    }
  }

  @if $breakpoint == desktop-large {
    @media screen and (min-width: $breakpoint-desktop-large) {
      @content;
    }
  }

  @if $breakpoint == desktop-xlarge {
    @media screen and (min-width: $breakpoint-desktop-xlarge) {
      @content;
    }
  }
}
