:root {
  --color-100: #fff;
  --color-200: #d0d6f9;
  --color-300: #0b0d17;
}

$breakpoint-mobile: 37.5em;
$breakpoint-tablet: 48em;
$breakpoint-desktop: 90em;
$breakpoint-desktop-large: 120rem;
$breakpoint-desktop-xlarge: 160rem;
